Package: howdy
Version: 0.0.1
Architecture: amd64
Maintainer: John Thornton <jt@gnipsel.com>
Installed-Size: 20
Depends: python3 (>= 3.6)
Section: utils
Priority: optional
Description: Simple helloworld package
 Just prints "Howdy", it's very useful.
 Note the second and additional lines are
 indented with one space.
